extends layout
block content
  h1= title
  form(id='fruitForm', action="/resource/fruit", method="POST")
    div.form-group
      label.fruitAttr(for='name') name
      input#name(type='text', name='name')
    div.form-group
      label.fruitAttr(for='color') color
      input#color(type='text', name='color')
    div.form-group
      label.fruitAttr(for='quantity') quantity
      input#quantity(type='number',step='any', name='quantity')
    input(type="submit")
  script.
    document.forms['fruitForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        if(resp.ok){
            alert ("fruit Created Successfully")
            document.getElementById('fruitForm').reset()
        }
        else {
            alert (" File to Create fruit")
        }
      }).then((body) => {
       console.log (body)
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });