body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fruitAttr {
  background-color: rgb(255, 153, 127);
  /*width: 120px;*/
  color: brown;
}




.detail {
  background-color: rgb(118, 118, 196);
  text-align: center;
}